<% if customer_signed_in? %>
  <div class="d-flex align-items-center">
    <div class="mx-3">
      <%= link_to "", customer_cart_path(current_customer.cart || current_customer.create_cart), class: "bi bi-cart4 text-white fs-3" %>
    </div>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle text-white" id="dropdownAdmin" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle fs-3 mx-2"></i>
        <strong><%= current_customer.email %></strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownAdmin">
        <li><%= link_to "Profile", customer_profile_path, class: "dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= button_to "Sign out", destroy_customer_session_path, class: "dropdown-item", method: :delete %></li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="d-flex">
    <div class="my-auto me-2">
      <%= link_to "For Seller", seller_path, class: "link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
    </div>
    <%= link_to "Sign up", new_customer_registration_path, class: "btn btn-secondary mx-1" %>
    <%= link_to "Sign in", new_customer_session_path, class: "btn btn-primary mx-1" %>
  </div>
<% end %>
