<%= form_with(model: [:admin, seller]) do |form| %>
  <% if seller.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% seller.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field my-1">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>
  <div class="field my-1">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="d-flex justify-content-end">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
