<div>
  <div class="row my-3">
    <div class="col-md">
      <h2 class="display-6">Car Part Categories</h2>
    </div>
    <div class="col-md-5">
      <%= render "home/search", path: home_path, q: @q %>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4">
    <% @part_types.each do |part_type| %>
      <div class="col">
        <div class="card shadow-sm">
          <%= link_to part_type_path(part_type), class: "text-decoration-none text-dark" do %>
            <div class="card-img-top-wrapper" style="height: 200px; overflow: hidden;">
              <div class="d-flex align-items-center justify-content-center h-100">
                <%= part_type.image.present? ? image_tag(part_type.image.variant(:medium), class: "img-fluid") : image_tag("https://via.placeholder.com/200", class: "img-fluid") %>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-truncate" style="max-width: 100%;"> <%= part_type.name %> </h5>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= render "layouts/shared/pagination", pagy: @pagy %>
  </div>
</div>
