<div class="card shadow-sm">
  <div class="card-body">
    <div class="my-2">
      <%= render "seller/orders/search", path: seller_orders_path, q: @q %>
    </div>
    <div class="mt-2 card">
      <table class="table table-hover border-top">
        <thead>
          <tr>
            <th>City</th>
            <th>Address</th>
            <th>Car Part</th>
            <th>Part Type</th>
            <th>Model</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Created At</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.order.shipping_detail.city %></td>
              <td><%= order_item.order.shipping_detail.address_line_1 %> <%= order_item.order.shipping_detail.address_line_2 %></td>
              <td><%= order_item.car_part.name %></td>
              <td><%= order_item.car_part.part_type.name %></td>
              <td><%= order_item.car_part.car_model.name %></td>
              <td><%= order_item.car_part.car_model.car_brand.name %></td>
              <td><%= order_item.quantity %></td>
              <td><%= order_item.price %> €</td>
              <td><%= order_item.total_price %> €</td>
              <td class="<%= get_order_item_status(order_item.status) %> fw-bold">
                <%= order_item.status.humanize %>
              </td>
              <td><%= order_item.order.created_at.strftime("%Y-%m-%d") %></td>
              <td class="p-0 text-end align-middle"><%= link_to "", seller_order_path(order_item), class: "btn btn-outline-secondary bi bi-eye" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render "layouts/shared/pagination", pagy: @pagy %>
    </div>
  </div>
</div>