<div>
  <%= button_to "", "#", onclick: "history.back(); return false;", class: "btn btn-outline-secondary mb-2 bi bi-arrow-left-circle" %>
  <div class="card shadow-sm p-4">
    <div class="d-flex justify-content-between">
      <h2 class="display-6">Car Part Details</h2>
      <div class="d-flex">
        <div class="me-3">
          <%#= link_to "", edit_seller_order_item_path(@order_item), class: "btn btn-primary bi bi-pencil" %>
        </div>
        <%#= button_to "", seller_order_item_path(@order_item), method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-danger bi bi-trash" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 d-flex justify-content-center mb-4">
        <div>
          <div>
            <%= @order_item.car_part.image.present? ? image_tag(@order_item.car_part.image.variant(:large), class: "img-fluid rounded shadow") : image_tag("https://via.placeholder.com/500", class: "img-fluid rounded shadow") %>
          </div>
          <div class="card shadow-sm p-4 mt-3">
            <h5 class="text-center mb-3">Change Status</h5>
            <div class="text-muted px-3">
              <div class="border-bottom pb-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <span class="form-label mx-2 my-auto fs-6 fw-bold">Status</span>
                  </div>
                  <div>
                    <%= form_with(model: @order_item, url: seller_order_path(@order_item), local: true, method: :patch) do |form| %>
                      <div class="d-flex justify-content-between">
                        <%= form.select :status, OrderItem.statuses.keys.map { |status| [status.humanize, status] }, {}, { class: "form-select" } %>
                        <%= form.submit "Update", class: "btn btn-primary ms-2" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card shadow-sm p-4">
          <h5 class="text-center mb-3">Car Part Information</h5>
          <div class="text-muted px-3">
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Car Part</span>
              <span><%= link_to @order_item.car_part.name, seller_car_part_path(@order_item.car_part), class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %></span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Price</span>
              <span><%= @order_item.price %> €</span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">City</span>
              <span><%= @order_item.order.shipping_detail.city %></span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Part Type</span>
              <span><%= @order_item.car_part.part_type.name %></span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Quantity</span>
              <span><%= @order_item.quantity %></span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Total Price</span>
              <span><%= @order_item.total_price %> €</span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Status</span>
              <span class="<%= get_order_item_status(@order_item.status) %> fw-bold"><%= @order_item.status.humanize %></span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Created At</span>
              <span><%= @order_item.order.created_at.strftime("%Y-%m-%d %H:%M") %></span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Updated At</span>
              <span><%= @order_item.order.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
            </div>
          </div>
        </div>
        <div class="card shadow-sm p-4 mt-3">
          <h5 class="text-center mb-3">Shipping Details</h5>
          <div class="d-flex justify-content-between border-bottom my-1">
            <span class="fw-bold">Recipient Name</span>
            <span><%= @order_item.order.shipping_detail.recipient_name %></span>
          </div>
          <div class="d-flex justify-content-between border-bottom my-1">
            <span class="fw-bold">Recipient Email</span>
            <span><%= @order_item.order.shipping_detail.recipient_email %></span>
          </div>
          <div class="d-flex justify-content-between border-bottom my-1">
            <span class="fw-bold">Address</span>
            <span><%= @order_item.order.shipping_detail.address_line_1 %> <%= @order_item.order.shipping_detail.address_line_2 %></span>
          </div>
          <div class="d-flex justify-content-between border-bottom my-1">
            <span class="fw-bold">City</span>
            <span><%= @order_item.order.shipping_detail.city %></span>
          </div>
          <div class="d-flex justify-content-between border-bottom my-1">
            <span class="fw-bold">State</span>
            <span><%= @order_item.order.shipping_detail.state %></span>
          </div>
          <div class="d-flex justify-content-between border-bottom my-1">
            <span class="fw-bold">Postal Code</span>
            <span><%= @order_item.order.shipping_detail.postal_code %></span>
          </div>
          <div class="d-flex justify-content-between border-bottom my-1">
            <span class="fw-bold">Country</span>
            <span><%= @order_item.order.shipping_detail.country %></span>
          </div>
          <div class="d-flex justify-content-between border-bottom my-1">
            <span class="fw-bold">Phone Number</span>
            <span><%= @order_item.order.shipping_detail.phone_number %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
