<div class="mb-auto">
  <h4><%= link_to "Admin Dashboard", admin_path, class: "navbar-brand text-white" %></h4>
  <hr>
  <ul class="nav flex-column">
    <li class="nav-item">
      <div class="d-flex px-2">
        <i class="bi bi-speedometer fs-5 my-auto"></i>
        <%= link_to "Dashboard", admin_path, class: "nav-link text-white" %>
      </div>
    </li>
    <li class="nav-item">
      <div class="d-flex px-2">
        <i class="bi bi-person-lines-fill fs-5 my-auto"></i>
        <%= link_to "Customers", admin_customers_path, class: "nav-link text-white" %>
      </div>
    </li>
    <li class="nav-item">
      <div class="d-flex px-2">
        <i class="bi bi-person fs-5 my-auto"></i>
        <%= link_to "Sellers", admin_sellers_path, class: "nav-link text-white" %>
      </div>
    </li>
    <li class="nav-item">
      <div class="d-flex px-2">
        <i class="bi bi-tags fs-5 my-auto"></i>
        <%= link_to "Part Types", admin_part_types_path, class: "nav-link text-white" %>
      </div>
    </li>
    <li class="nav-item">
      <div class="d-flex px-2">
        <i class="bi bi-wrench fs-5 my-auto"></i>
        <%= link_to "Car Parts", admin_car_parts_path, class: "nav-link text-white" %>
      </div>
    </li>
  </ul>
</div>
<%= render "layouts/shared/admin/admin" %>