<%= search_form_for(q, url: path, method: :get) do |form| %>
  <div class="row row-cols-1">
    <div class="col my-3">
      <div class="row row-cols-3">
        <div class="col card p-3 mx-3">
          <div>
            <%= form.label :price_gteq, "Minimum Price", class: "form-label fw-bold"  %>
            <%= form.number_field :price_gteq, class: "form-control"  %>
          </div>
          <div>
            <%= form.label :price_lteq, "Maximum Price", class: "form-label fw-bold"  %>
            <%= form.number_field :price_lteq, class: "form-control"  %>
          </div>
        </div>
        <div class="col card p-3 mx-3">
          <div>
            <label class="form-label fw-bold">Created Range</label>
            <div class="input-group">
              <%= form.date_field :created_at_gteq, class: "form-control", placeholder: "From Date" %>
              <%= form.date_field :created_at_lteq, class: "form-control", placeholder: "To Date" %>
            </div>
          </div>
          <div>
            <label class="form-label fw-bold">Updated Range</label>
            <div class="input-group">
              <%= form.date_field :updated_at_gteq, class: "form-control", placeholder: "From Date" %>
              <%= form.date_field :updated_at_lteq, class: "form-control", placeholder: "To Date" %>
            </div>
          </div>
        </div>
        <div class="col col-3">
          <div>
            <%= form.label :active_eq, "Active", class: "form-label fw-bold"  %>
            <%= form.select :active_eq, [["All", ""], ["Active", true], ["Inactive", false]], {}, { class: "form-select" } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-3 mx-1">
        <%= form.label :part_type_id_eq, "Types", class: "form-label fw-bold"  %>
        <div class="form-check-group row">
          <% @part_types.each do |part_type| %>
            <div class="col-2">
              <div class="form-check">
                <%= form.check_box :part_type_id_in, { multiple: true, class: "form-check-input" }, part_type.id, nil %>
                <%= form.label "q[part_type_id_in][]", part_type.name, class: "form-check-label" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col my-2">
      <div class="d-flex justify-content-end">
        <%= link_to "Clear Filter", admin_car_parts_path, class: "btn btn-secondary mx-1" %>
        <%= form.submit "Filter", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>