<div class="card shadow-sm">
  <div class="card-body">
    <div class="my-2">
      <%= render "admin/car_parts/search", path: admin_car_parts_path, q: @q, part_types: @part_types %>
    </div>
    <div class="mt-2 card">
      <table class="table table-hover border-top">
        <thead>
          <tr>
            <th></th>
            <th><%= sort_link(@q, :name, "Name", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :price, "Price", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :active, "Active", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :part_type_name, "Type", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :car_model_name, "Model", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :car_model_car_brand_name, "Brand", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :stock_quantity, "Stock", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :created_at, "Created", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :updated_at, "Last Updated", class: "text-decoration-none text-black") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @car_parts.each do |car_part| %>
            <tr>
              <td class="p-0 text-center align-middle">
                <%= car_part.image.present? ? image_tag(car_part.image.variant(:small)) : image_tag("https://via.placeholder.com/38") %></td>
              <td><%= car_part.name %></td>
              <td><%= car_part.price %> €</td>
              <td class="<%= get_active_status(car_part.active) %> fw-bold">
                <%= car_part.active ? 'Active' : 'Inactive' %>
              </td>
              <td><%= car_part.part_type.name %></td>
              <td><%= car_part.car_model.name %></td>
              <td><%= car_part.car_model.car_brand.name %></td>
              <td>
                <% if car_part.stock && car_part.stock.quantity > 0 %>
                  <span class="text-success fw-bold">In stock</span>
                <% else %>
                  <span class="text-danger fw-bold">Out of stock</span>
                <% end %>
              </td>
              <td><%= car_part.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= car_part.updated_at.strftime("%Y-%m-%d") %></td>
              <td class="p-0 text-end align-middle"><%= link_to "", admin_car_part_path(car_part), class: "btn btn-outline-secondary bi bi-eye" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render "layouts/shared/pagination", pagy: @pagy %>
    </div>
  </div>
</div>