<div>
  <%= link_to "back", part_type_path(@car_part.part_type), class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
  <div>
    <h2 class="display-6">Car Parts show</h2>
    <div class="row">
      <div class="col-md-5 d-flex justify-content-center mb-4">
        <%= @car_part.image.present? ? image_tag(@car_part.image.variant(:large), class: "img-fluid rounded shadow") : image_tag("https://via.placeholder.com/500", class: "img-fluid rounded shadow") %>
      </div>
      <div class="col-md-7">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Car Part Details</h5>
            <p class="mb-2"><strong>Name</strong> <%= @car_part.name %></p>
            <p class="mb-2"><strong>Price</strong> <%= @car_part.price %> €</p>
            <p class="mb-2"><strong>Type</strong> <%= @car_part.part_type.name %></p>
            <div>
              <p class="mb-0"><strong>Description</strong></p>
              <p class="mt-0"><%= @car_part.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
