<%= search_form_for(q, url: path, method: :get) do |form| %>
  <div class="row">
    <div class="col-md">
      <h2 class="display-6">Part Types</h2>
    </div>
    <div class="col-md text-end">
      <%= link_to "New Part Type", new_admin_part_type_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-5">
      <div class="input-group">
        <%= form.search_field :name_cont, class: "form-control" %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">Filter</button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <%= render "admin/part_types/filter", path: path, q: q %>
        </div>
      </div>
    </div>
  </div>
<% end %>
