<div class="card shadow-sm">
  <div class="card-body">
    <div class="my-2">
      <%= render "admin/part_types/search", path: admin_part_types_path, q: @q %>
    </div>
    <div class="mt-2 card">
      <table class="table table-hover border-top">
        <thead>
          <tr>
            <th></th>
            <th><%= sort_link(@q, :name, "Name", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :created_at, "Created", class: "text-decoration-none text-black") %></th>
            <th><%= sort_link(@q, :updated_at, "Last Updated", class: "text-decoration-none text-black") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @part_types.each do |part_type| %>
            <tr>
              <td class="p-0 text-center align-middle">
                <%= part_type.image.present? ? image_tag(part_type.image.variant(:small)) : image_tag("https://via.placeholder.com/38") %></td>
              <td><%= part_type.name %></td>
              <td><%= part_type.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= part_type.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td class="p-0 text-end align-middle"><%= link_to "", admin_part_type_path(part_type), class: "btn btn-outline-secondary bi bi-eye" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render "layouts/shared/pagination", pagy: @pagy %>
    </div>
  </div>
</div>