<div>
  <%= button_to "Back", "#", onclick: "history.back(); return false;", class: "btn btn-outline-secondary mb-2" %>
  <div class="card shadow-sm p-3">
    <div class="d-flex justify-content-between">
      <h2 class="display-6">Part Type Details</h2>
      <div class="d-flex">
        <div class="me-3">
          <%= link_to "Edit Part Type", edit_admin_part_type_path(@part_type), class: "btn btn-primary" %>
        </div>
        <%= button_to "Delete Part Type", admin_part_type_path(@part_type), method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 d-flex justify-content-center mb-4">
        <div>
          <%= @part_type.image.present? ? image_tag(@part_type.image.variant(:large), class: "img-fluid rounded shadow") : image_tag("https://via.placeholder.com/500", class: "img-fluid rounded shadow") %>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card shadow-sm p-4">
          <h5 class="text-center mb-3">Part Type Information</h5>
          <div class="text-muted px-3">
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Name</span>
              <span><%= @part_type.name %></span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Created At</span>
              <span><%= @part_type.created_at.strftime("%Y-%m-%d %H:%M") %></span>
            </div>
            <div class="d-flex justify-content-between border-bottom my-1">
              <span class="fw-bold">Last Updated At</span>
              <span><%= @part_type.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
            </div>
            <div class="border-bottom my-1">
              <div class="fw-bold">Description</div>
              <p><%= @part_type.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>