<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Auto Part" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="d-flex">
      <div class="bg-dark text-white d-flex flex-column p-3 position-sticky top-0 vh-100">
        <%= render "layouts/shared/seller/navbar" %>
      </div>
      <div class="flex-grow-1 p-3">
        <%= render "layouts/shared/flash_messages" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>